body {
	background-color: #F3F5FC;
}
.main {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 3rem;
	color: black;
	width: 90%;
	max-width: 1000px;
	margin: 20px auto;
	border-radius: 20px;
	padding: 16px;
	font-family: Roboto, "Open Sans", sans-serif;
	box-sizing: border-box;
	background-color: white;
	box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
	box-sizing: border-box;
}
.sect-btns {
	display: grid;
	grid-template-columns: auto auto;
	gap: 2rem;
}
.sub-btn {
	color: white;
	background-color: #9ACD30;
	border-radius: 8px;
	font-size: 16px;
	border: none;
	padding: 12px;
	cursor: pointer;
}
.sub-btn:hover {
	background-color: #8eb930;	
}
.sub-btn:active {
	background-color: #70a52a;
}
.cont {
	display: flex;
	flex-direction: column;
	gap: 2rem;
	align-items: center;
}